<p-dialog
  [(visible)]="display"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  [dismissableMask]="true"
  (onHide)="closingWithoutSaving()"
  styleClass="player-dialog"
>
  <ng-template pTemplate="header">
    <div class="dialog-title">
      <span class="dialog-title__icon">
        <i class="pi pi-user"></i>
      </span>
      <span class="dialog-title__text">{{ header }}</span>
    </div>
  </ng-template>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="pd-form">
    <div class="form-card">
      <div class="form-grid form-grid--two">
        <div class="form-field form-field--full">
          <label class="field-label" for="name">{{ 'player.name' | transloco }}</label>
          <span class="p-input-icon-left field-control">
            <i class="pi pi-user"></i>
            <input
              pInputText
              id="name"
              formControlName="name"
              [ngClass]="{ 'p-invalid': isInvalid('name') }"
              autocomplete="off"
            />
          </span>
          @if (isInvalid('name')) {
            <small class="field-error">{{ 'common.required' | transloco }}</small>
          } @else {
            <small class="field-hint"></small>
          }
        </div>

        <div class="form-field">
          <label class="field-label" for="horse">{{ 'player.horse' | transloco }}</label>
          <span class="p-input-icon-left field-control">
            <i class="pi pi-compass"></i>
            <input
              pInputText
              id="horse"
              formControlName="horse"
              [ngClass]="{ 'p-invalid': isInvalid('horse') }"
              autocomplete="off"
            />
          </span>
          @if (isInvalid('horse')) {
            <small class="field-error">{{ 'common.required' | transloco }}</small>
          } @else {
            <small class="field-hint"></small>
          }
        </div>

        <div class="form-field">
          <label class="field-label" for="bannerId">{{ 'player.banner' | transloco }}</label>
          <p-select
            inputId="bannerId"
            formControlName="bannerId"
            [options]="banners"
            optionLabel="name"
            optionValue="_id"
            [placeholder]="'player.chooseBanner' | transloco"
            [filter]="true"
            filterBy="name,city"
            appendTo="body"
            styleClass="field-control pd-select"
            [ngClass]="{ 'p-invalid': isInvalid('bannerId') }"
          >
            <ng-template pTemplate="selectedItem" let-banner>
              {{ banner ? bannerLabel(banner) : ('player.chooseBanner' | transloco) }}
            </ng-template>
            <ng-template pTemplate="item" let-banner>
              <div class="banner-option">
                <span>{{ banner.name }}</span>
                @if (banner.city) {
                  <small>{{ banner.city }}</small>
                }
              </div>
            </ng-template>
          </p-select>
          @if (isInvalid('bannerId')) {
            <small class="field-error">{{ 'player.chooseBannerHint' | transloco }}</small>
          } @else if (player?.flag && !player?.bannerId) {
            <small class="field-hint">{{ 'player.archivedBanner' | transloco: { name: player?.flag } }}</small>
          } @else {
            <small class="field-hint"></small>
          }
        </div>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="dialog-actions">
      <button type="button" pButton [label]="'common.cancel' | transloco" icon="pi pi-times" severity="secondary" (click)="closingWithoutSaving()"></button>
      <button type="submit" pButton [label]="buttonText" icon="pi pi-save" (click)="onSubmit()"></button>
    </div>
  </ng-template>
</p-dialog>
