<p-dialog [(visible)]="display" [modal]="true" [style]="{width: '30%'  }" (onHide)="closingWithoutSaving()" [draggable]="false"
    [resizable]="true">

    <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Imię i Nazwisko:</label>
            <input type="text" id="name" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
            <label for="horse">Koń:</label>
            <input type="text" id="horse" class="form-control" formControlName="horse">
        </div>
        <div class="form-group">
            <label for="flag">Chorągiew:</label>
            <input type="text" id="flag" class="form-control" formControlName="flag">
        </div>
        <p-button type="submit" class="btn btn-primary">{{ buttonText }}</p-button>
    </form>
</p-dialog>