::ng-deep .p-inputnumber .p-inputtext {
    width: 45px;
}

.print {
    display: flex;
    // flex-direction: row;
    gap: 10px;
    // justify-content: flex-end;
}

.table-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    margin: 6px
}