<p-dialog
  [(visible)]="display"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  [dismissableMask]="true"
  (onHide)="closingWithoutSaving()"
  styleClass="league-dialog"
>
  <ng-template pTemplate="header">
    <div class="dialog-title">
      <span class="dialog-title__icon">
        <i class="pi pi-sitemap"></i>
      </span>
      <span class="dialog-title__text">{{ headerKey | transloco }}</span>
    </div>
  </ng-template>

  <form [formGroup]="leagueForm" (ngSubmit)="onSubmit()" class="ld-form">
    <div class="form-card">
      <div class="form-grid form-grid--two">
        <div class="form-field">
          <label class="field-label" for="name">{{ 'league.name' | transloco }}</label>
          <input
            pInputText
            id="name"
            formControlName="name"
            [ngClass]="{ 'p-invalid': isInvalid('name') }"
          />
          @if (isInvalid('name')) {
            <small class="field-error">{{ 'common.required' | transloco }}</small>
          } @else {
            <small class="field-hint"></small>
          }
        </div>

        <div class="form-field">
          <label class="field-label" for="year">{{ 'league.year' | transloco }}</label>
          <input
            pInputText
            id="year"
            formControlName="year"
            [ngClass]="{ 'p-invalid': isInvalid('year') }"
          />
          @if (isInvalid('year')) {
            <small class="field-error">{{ 'common.required' | transloco }}</small>
          } @else {
            <small class="field-hint"></small>
          }
        </div>
      </div>

      <section class="ld-section">
        <div class="ld-section__head">
          <div>
            <h3>{{ 'league.tournaments' | transloco }}</h3>
            <span>{{ 'league.tournamentCount' | transloco: { count: tournamentList.length } }}</span>
          </div>

          <button
            type="button"
            pButton
            icon="pi pi-plus"
            severity="secondary"
            [label]="'league.addTournament' | transloco"
            (click)="addTournamentRow()"
          ></button>
        </div>

        @if (tournamentList.length) {
          <div class="ld-tournaments">
            @for (rowData of tournamentList; track trackTournament($index, rowData); let i = $index) {
              <div class="ld-tournament-row">
                <span class="ld-number">{{ i + 1 }}.</span>
                <div class="ld-tournament-field">
                  <label [for]="'tournament-city-' + i">{{ 'league.city' | transloco }}</label>
                  <input
                    pInputText
                    [id]="'tournament-city-' + i"
                    [(ngModel)]="rowData.city"
                    [ngModelOptions]="{ standalone: true }"
                    [placeholder]="'league.city' | transloco"
                  />
                </div>
                <div class="ld-tournament-field">
                  <label>{{ 'league.date' | transloco }}</label>
                  <p-datepicker
                    [(ngModel)]="rowData.date"
                    [ngModelOptions]="{ standalone: true }"
                    dateFormat="dd.mm.yy"
                    appendTo="body"
                  ></p-datepicker>
                </div>
                <label class="ld-tournament-check">
                  <input
                    type="checkbox"
                    [(ngModel)]="rowData.countsInLeagueStandings"
                    [ngModelOptions]="{ standalone: true }"
                  />
                  <span>{{ 'league.countsInStandings' | transloco }}</span>
                  @if (rowData.countsInLeagueStandings) {
                    <small>{{ 'league.countsInStandingsWarning' | transloco }}</small>
                  } @else {
                    <small>{{ 'league.excludedFromStandingsHint' | transloco }}</small>
                  }
                </label>

                @if (canRemoveTournament(rowData)) {
                  <button
                    type="button"
                    pButton
                    icon="pi pi-trash"
                    severity="danger"
                    styleClass="p-button-rounded p-button-text"
                    [ariaLabel]="'league.removeTournament' | transloco"
                    (click)="removeTournamentRow(i)"
                  ></button>
                }
              </div>
            }
          </div>
        }
      </section>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="dialog-actions">
      <button type="button" pButton [label]="'common.cancel' | transloco" icon="pi pi-times" severity="secondary" (click)="closingWithoutSaving()"></button>
      <button type="submit" pButton [label]="buttonTextKey | transloco" icon="pi pi-save" (click)="onSubmit()"></button>
    </div>
  </ng-template>
</p-dialog>
