<table>
  <thead>
    <tr>
      <th>{{ 'shared.user' | transloco }}</th>
      @for (user of users; track user) {
        <th>{{ user }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (feature of features; track feature) {
      <tr>
        <td>{{ feature }}</td>
        @for (user of users; track user) {
          <td>
            <label class="checkbox-container">
              <input type="checkbox" [(ngModel)]="checkboxValues[user + '_' + feature]">
              <span class="checkmark" [ngClass]="{'checked': checkboxValues[user + '_' + feature]}">
                @if (checkboxValues[user + '_' + feature]) {
                  <span class="checkmark-icon">✓</span>
                }
                @if (!checkboxValues[user + '_' + feature]) {
                  <span class="checkmark-icon">X</span>
                }
              </span>
            </label>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
