.rotate {
    transform: rotate(315deg);
}

.line-left {
    border-left: 1px solid black !important;
}

.line-right {
    border-right: 1px solid black !important;
}

.line-bold {
    border: 2px solid black !important;
}
::ng-deep .p-inputnumber .p-inputtext {
    width: 85px;
}

.chosenRow {
    background-color: lightcyan !important;
}