<div class="player-list">
  <div class="card">
    <p-table
      #dt
      [value]="playerList"
      dataKey="_id"
      [globalFilterFields]="['name', 'horse', 'flag']"
      [rowHover]="true"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 20, 100]"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Wyświetlanie {first}-{last} z {totalRecords}"
      styleClass="player-table p-datatable-sm p-datatable-striped p-datatable-gridlines"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">
          <div class="title">Husarze</div>
          <div class="tools">
            <span class="search">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter($event)"
                placeholder="Szukaj..."
              />
            </span>
            <p-button
              icon="pi pi-plus"
              styleClass="p-button-rounded p-button-success"
              (onClick)="createPlayer()"
              label="Dodaj"
            ></p-button>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Husarz <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="horse">Koń <p-sortIcon field="horse"></p-sortIcon></th>
          <th pSortableColumn="flag">Chorągiew <p-sortIcon field="flag"></p-sortIcon></th>
          <th class="col-actions"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-player>
        <tr>
          <td>{{ player.name }}</td>
          <td>{{ player.horse }}</td>
          <td>{{ player.flag }}</td>
          <td class="actions">
            <p-button
              icon="pi pi-user-edit"
              styleClass="p-button-rounded p-button-info p-button-text p-button-raised"
              (onClick)="editPlayer(player)"
              [ariaLabel]="'Edytuj ' + player.name"
            ></p-button>
            <p-button
              icon="pi pi-times"
              styleClass="p-button-rounded p-button-danger p-button-text p-button-raised"
              (onClick)="confirmDelete($event, player._id!)"
              [ariaLabel]="'Usuń ' + player.name"
            ></p-button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4" class="empty">Brak husarzy</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-confirmPopup></p-confirmPopup>

  <app-player-dialog
    [display]="display"
    [player]="selectedPlayer"
    (comunicationWithoutSaving)="closedDialogWithoutSaving($event)"
    (comunication)="returnFromChild($event)"
  ></app-player-dialog>
</div>