<div class="card">
    <p-table [value]="playerList" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Husarz</th>
                <th>Koń</th>
                <th>Horągiew</th>
                <th>
                    <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-success"
                        (onClick)="createPlayer()"></p-button>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-player>
            <tr >
                <td>{{ player.name }}</td>
                <td>{{ player.horse}}</td>
                <td>{{ player.flag }}</td>
                <td>
                    <p-button icon="pi pi-user"
                        styleClass="p-button-rounded p-button-info p-button-text p-button-raised"
                        (onClick)="changePlayer(player)"></p-button>
                    <p-confirmPopup></p-confirmPopup>
                    <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text p-button-raised" (click)="confirm($event,player._id)"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-player-dialog [display]="display" [player]="chosenPlayer!" (comunicationWithoutSaving)="closedDialogWithoutSaving($event)" (comunication)="returnFromChild($event)"></app-player-dialog>