:host ::ng-deep .player-table {
  .p-datatable-wrapper {
    overflow-x: auto;
  }

  .p-datatable-table {
    min-width: 58rem;
  }

  .p-datatable-thead > tr > th,
  .p-datatable-tbody > tr > td {
    vertical-align: middle;
  }
}

@media (max-width: 720px) {
  :host ::ng-deep .player-table .p-datatable-table {
    min-width: 52rem;
  }
}
