.league-list {
  width: 100%;

  .league-table {
    width: 100%;
  }

  .tournaments {
    display: grid;
    gap: 0.5rem;
  }

  .tournament {
    background: var(--surface-50);
    border: 1px solid var(--surface-200);
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;

    &__content {
      width: min(560px, 100%);
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &:hover {
      background: var(--surface-100);
    }
  }

  .items {
    word-break: break-word;
  }
}

:host ::ng-deep .league-table {
  width: 100%;

  .p-datatable-wrapper {
    overflow-x: auto; /* jeśli min-width > kontenera, pokaż poziomy scroll */
  }

  .p-datatable-table {
    width: 100%;
    min-width: 60rem; /* dopasuj (50–80rem) */
    table-layout: fixed; /* kluczowe */
  }

  .p-datatable-thead > tr > th,
  .p-datatable-tbody > tr > td {
    padding: 0.75rem 1rem;
  }
}

/* proporcje (spójne z colgroup) */
.col-name {
  width: 50%;
}
.col-year {
  width: 30%;
}
.col-actions {
  width: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
