<p-pickList
  [source]="sourceProducts"
  [target]="targetProducts"
  styleClass="players-picklist"
  [sourceHeader]="'tournament.sourceHeader' | transloco"
  [targetHeader]="'tournament.targetHeader' | transloco"
  [dragdrop]="true"
  [responsive]="true"
  [showSourceControls]="false"
  [showTargetControls]="false"
  filterBy="name,bannerName,bannerCity"
  [sourceFilterPlaceholder]="'tournament.sourceFilter' | transloco"
  [targetFilterPlaceholder]="'tournament.targetFilter' | transloco"
  breakpoint="1200px"
  (onMoveToTarget)="onMoveToTarget($event)"
  (onMoveToSource)="onMoveToSource($event)"
  (onTargetReorder)="onTargetReorder($event)"
>
  <ng-template pTemplate="sourceheader">
    <div class="list-header">
      <span>{{ 'tournament.sourceHeader' | transloco }}</span>
      <span class="count">{{ sourceProducts.length }}</span>
    </div>
  </ng-template>

  <ng-template pTemplate="targetheader">
    <div class="list-header">
      <span>{{ 'tournament.targetHeader' | transloco }}</span>
      <span class="count">{{ targetProducts.length }}</span>
    </div>
  </ng-template>

  <ng-template let-player pTemplate="item">
    <div class="player-item" [class.in-target]="isInTarget(player)">
      <div class="avatar">{{ getInitials(player.name) }}</div>

      <div class="details">
        <div class="name" [title]="player.name">{{ player.name }}</div>
        <div class="meta">
          <span class="chip chip-horse">
            <i class="pi pi-compass"></i>
            {{ player.horse }}
          </span>
          <span class="chip chip-flag">
            <i class="pi pi-flag"></i>
            {{ bannerLabel(player) }}
          </span>
        </div>
      </div>

      @if (isInTarget(player)) {
        <div class="right">
          <span class="order-badge">{{ getTargetIndex(player) }}</span>
          <i class="pi pi-arrows-all" [title]="'tournament.dragToReorder' | transloco"></i>
        </div>
      }
    </div>
  </ng-template>
</p-pickList>
