<p-dialog
  [(visible)]="show"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  styleClass="pdf-dialog"
  (onHide)="close.emit(true)"
>
  <ng-template pTemplate="header">
    <div class="dialog-title">
      <span class="dialog-title__icon">
        <i class="pi pi-file-pdf"></i>
      </span>
      <span class="dialog-title__text">{{ 'pdf.title' | transloco }}</span>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="dialog-actions">
      <button type="button" pButton [label]="'common.close' | transloco" icon="pi pi-times" severity="secondary" (click)="closeDialog()"></button>
    </div>
  </ng-template>
</p-dialog>
