<div class="line-bold table-container">
  <p-table
    styleClass="p-datatable-gridlines center-text"
    [scrollable]="true"
    scrollHeight="75vh"
    [value]="participantList"
    [tableStyle]="{ 'min-width': '50rem' }"
>
    <!-- Header Row -->
    <ng-template pTemplate="header">
      <tr>
        <th
          rowspan="3"
          class="line-left line-right center-text"
          style="min-width: 30px"
        >
          Start
        </th>
        <th rowspan="3" class="line-left line-right center-text">Imię</th>

        <th
          *ngFor="let category of categories"
          [attr.colspan]="category.obstacles.length"
          class="line-left line-right center-text"
        >
          {{ category.name }}
        </th>

        <th rowspan="3" class="line-left line-right center-text">
          Brak uzbrojenia / inne
        </th>
        <th rowspan="3" class="line-left line-right center-text">Czas [s]</th>
        <th rowspan="3" class="line-left line-right center-text">
          <button
            pButton
            pRipple
            icon="pi pi-file-pdf"
            class="p-button-warning mr-2"
            pTooltip="PDF"
            tooltipPosition="bottom"
            (click)="generatePDF()"
          >
            PDF
          </button>
          Wynik
        </th>
      </tr>

      <!-- Sub-header for obstacles -->
      <tr>
        <ng-container *ngFor="let category of categories">
          <th
            *ngFor="
              let obstacle of category.obstacles;
              let first = first;
              let last = last
            "
            [ngClass]="{
              'line-left': first,
              'line-right': last,
              'center-text': true
            }"
          >
            {{ obstacle.name }}
          </th>
        </ng-container>
      </tr>

      <!-- Scores Row -->
      <tr>
        <ng-container *ngFor="let category of categories">
          <th
            *ngFor="
              let obstacle of category.obstacles;
              let first = first;
              let last = last
            "
            [ngClass]="{
              'line-left': first,
              'line-right': last,
              'center-text': true
            }"
          >
            {{ obstacle.score }}
          </th>
        </ng-container>
      </tr>
    </ng-template>

    <!-- Body for Participant List -->
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr
        (click)="chosenRow(rowData)"
        [ngClass]="{ chosenRow: rowData._id === selectedPlayerId }"
      >
        <td class="line-left line-right center-text">{{ rowIndex + 1 }}</td>
        <td class="line-left line-right center-text">
          {{ rowData.playerName }}
        </td>

        <ng-container *ngFor="let category of categories; let categoryIndex = index">
          <td
            *ngFor="let obstacle of category.obstacles; let i = index; let first = first; let last = last"
            [ngClass]="{
              'line-left': first,
              'line-right': last,
              'center-text': true
            }"
          >
            <!-- If the obstacle uses 0/1 logic -->
            <div *ngIf="!isSelectButtonRequired(getPointIndex(categoryIndex, i))">
              <div *ngIf="rowData['battle_' + battleId + '_points'].charAt(getPointIndex(categoryIndex, i)) === '0'">
                <p-button
                  (onClick)="changedButton(rowData, getPointIndex(categoryIndex, i), 1)"
                  icon="pi pi-check"
                  styleClass="p-button-rounded p-button-text p-button-raised"
                ></p-button>
              </div>
              <div *ngIf="rowData['battle_' + battleId + '_points'].charAt(getPointIndex(categoryIndex, i)) === '1'">
                <p-button
                  (onClick)="changedButton(rowData, getPointIndex(categoryIndex, i), 0)"
                  icon="pi pi-times"
                  styleClass="p-button-rounded p-button-danger p-button-text p-button-raised"
                ></p-button>
              </div>
            </div>
        
            <!-- If the obstacle uses selectButton -->
            <div *ngIf="isSelectButtonRequired(getPointIndex(categoryIndex, i))"
            style="min-width:250px">
              <p-selectButton
                [options]="brickOptions"
                optionLabel="label"
                [ngModel]="getSelectButtonValue(rowData, getPointIndex(categoryIndex, i))"
                optionValue="label"
                (onChange)="setBrick(rowData, getPointIndex(categoryIndex, i), $event)"
              ></p-selectButton>
            </div>
          </td>
        </ng-container>
        

        <!-- Extra Points Input -->
        <td class="line-left line-right center-text">
          <p-inputNumber
            #inputExtraPoints
            (onBlur)="setExtraPoints(rowData._id, inputExtraPoints.value)"
            [ngModel]="rowData['battle_' + battleId + '_extraPoints']"
            (keypress)="allowOnlyNumbers($event)"
          ></p-inputNumber>
        </td>

        <!-- Time Input -->
        <td class="line-left line-right center-text">
          <p-inputNumber
            #inputTime
            (onBlur)="setTime(rowData, inputTime.value)"
            [ngModel]="rowData['battle_' + battleId + '_time']"
            styleClass="custom-input"
            [minFractionDigits]="2"
            (keypress)="allowOnlyNumbers($event)"
          ></p-inputNumber>
        </td>

        <!-- Score Calculation -->
        <td class="line-left line-right center-text">
          {{ rowData["battle_" + battleId + "_score"] | number : "1.2-2" }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
